html, body {
  font-size: 12pt;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(247, 244, 244, 0.88);
}

.wrapper {
  z-index: 100;
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(236, 236, 236, 0.76);
}

.message-info, span, p, a, textarea {
  font-family: 'Ubuntu Condensed', sans-serif;
}

header.main-header {
  z-index: 200;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 6px 0;
  width: 100%;
  font-family: 'Lobster Two', cursive;
  text-align: center;
}
header.main-header h1 {
  z-index: 100;
  display: inline-block;
  margin: 8px auto;
  padding: 0 4px 4px 4px;
  line-height: 1.4em;
  font-size: 2.2em;
  color: rgba(132, 130, 134, .9);
  text-shadow: 0px 0px 2px rgb(211, 212, 216);
  border-radius: 20px;
  border-top: 0.2em double rgba(119, 112, 112, 0.9);
  border-bottom: 0.2em double rgba(119, 112, 112, 0.9);
}
.dcm {
  z-index: 100;
  width: 100%;
  margin: 6px 0;
  padding: 2px 0;
  box-sizing: border-box;
  color: rgba(97, 97, 97, 0.86);
}

.box {
  padding: 2px 0;
  margin: 2px 0;
  background-color: #0085B2;
  color:#ECECEC !important;
}

span, p {
  /*color: #616161;*/
}
.message-info {
  z-index: 100;
  display: block;
  margin: 0 auto;
  margin-top: -5px;
  padding: 2px;
  width: 62%;
  font-size: 1.38em;
  text-align: center;
  text-decoration: none;
  line-height: 150%;
}

section.inlineBox {
  width: 71px;
  height: 70px;
  display: inline-block;
  padding: 4px;
  margin: 0 24px;
  text-align: center;
  top: -.65em;
}

.circle {
  border: 2px solid;
  border-radius: 50%;
}

.box .message-info {top: -10px;}

.inlineBox var {
  font-style: normal;
  position: relative;
  display: inline-block;
  margin: 31% 0 22%;
  font-size: 1.4em;
}
.message-info:nth-child(3):after {
  content: "";
  position: relative;
  top: -0.4em;
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 40%;
  height: 4px;
  border-top: 1px solid #ECECEC;
  border-bottom: 1px solid #ECECEC;
}
