html, body {
	position: relative;
  font-size: 12pt;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgba(247, 244, 244, 0.88);
}

.wrapper {
  z-index: 400;
  display: block;
  margin: 0 auto;
  padding: 2px 0;
  width: 100%;
}

.message-info, span, p, a, textarea {
  font-family: 'Ubuntu Condensed', sans-serif;
}

header.main-header {
  z-index: 200;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 6px 0;
  width: 100%;
  font-family: 'Lobster Two', cursive;
  text-align: center;
}
header.main-header h1 {
  z-index: 100;
  display: inline-block;
  margin: 8px auto;
  padding: 0 4px 4px 4px;
  line-height: 1.4em;
  font-size: 2.2em;
  color: rgba(132, 130, 134, .9);
  text-shadow: 0px 0px 2px rgb(211, 212, 216);
  border-radius: 20px;
  border-top: 0.2em double rgba(119, 112, 112, 0.9);
  border-bottom: 0.2em double rgba(119, 112, 112, 0.9);
}
.dcm {
  z-index: 100;
  width: 100%;
  margin: 6px 0;
  padding: 2px 0;
  box-sizing: border-box;
  color: rgba(97, 97, 97, 0.86);
}

.dcm:nth-child(4) {
		margin-top: 6px;
}

.box {
  padding: 2px 0;
  margin: 2px 0;
  background-color: #0085B2;
  color:#ECECEC !important;
}

.message-info {
  z-index: 100;
  display: block;
  margin: -6px auto 0 auto;
  padding: 2px;
  width: 62%;
  font-size: 1.38em;
  text-align: center;
  text-decoration: none;
  line-height: 150%;
}

.inlineBox {
  position: relative;
  top: -.56em;
  width: 71px;
  display: inline-block;
  padding: 4px;
  margin: 0 24px;
  text-align: center;
}

.special {
  top: -8px;
}

.circle {
  top: 1.2px;
  border: 2px solid;
  border-radius: 50%;
}

.inlineBox var {
  font-style: normal;
  position: relative;
  display: inline-block;
  margin: 31% 0 22%;
  font-size: 1.4em;
}
.dcm:nth-child(2) .message-info {
  position: relative;
  top: -10px;
  padding: 0;
  margin-bottom: -12px;
  font-size: 1.8em;
}
.message-info:nth-child(3):after {
  content: "";
  position: relative;
  top: -1.2em;
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 40%;
  height: 4px;
  border-top: 2px solid #ECECEC;
  border-bottom: 2px solid #ECECEC;
}
.dn {
  position: relative;
  top: 15px;
  display: block;
  width: 12%;
  margin: 16px auto;
  padding: 1px;
  text-align: center;
  border: 2px solid #767676;
  border-radius: 10px;
}
.dn span {
  position: static;
  display: inline-block;
  padding: 4px;
  font-size: 1.6em;
  line-height: 105%;
  color: #606060;
}
.dcm:nth-child(4) .message-info {width: 50%; margin-top: 8px;}
nav.linkgroup {
  position: relative;
  padding: 8px;
  margin: 4px;
  box-sizing: border-box;
}
.linkgroup ul {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
}
.linkgroup ul li {
	position: relative;
	left: 28px;
	top: 16px;
	display: inline-block;
	padding: 6px 6px 1px;
	margin: 2px;
}
.linkgroup li a {
	position: relative;
	display: inline-block;
	padding: 4px 4px 1px;
	margin: 2px 1px;
	font-size: .68em;
	color: rgba(65, 147, 169, 0.85);
	font-weight: 700;
	text-decoration: none;
}
.linkgroup li a:before {
	content: "";
	position: absolute;
	top: -30px;
	left: 30%;
	width: 36px;
	height: 36px;
	background: url(../img/socialmedia_iconsprites.jpg) no-repeat;
	background-size: 32em;
	border: 1px solid #4B99AE;
	border-radius: 50%;
}
.linkgroup #twit a:before {
	background-position: -29px -6px;
}
.linkgroup #fb a:before {
	background-position: -30px -233px;
}
.linkgroup #gplus a:before {
	background-position: -315px -461px;
}
.linkgroup #twit a:hover {color: #515151;}
.linkgroup #twit a:hover:before {
	background-position: -29px -49px;
	border-color: #515151;
}
.linkgroup #fb a:hover {color: #515151;}
.linkgroup #fb a:hover:before {
	background-position: -30px -277px;
	border-color: #515151;
}
.linkgroup #gplus a:hover {color: #515151;}
.linkgroup #gplus a:hover:before {
	background-position: -315px -504px;
	border-color: #515151;
}

footer.mainFooter {
	position: relative;
	bottom: -6px;
	margin: 0px;
	padding: 10px;
	box-sizing: border-box;
	font-size: 10pt;
	background-color: #333;
	color: #B6B6B6;
}
.mainFooter .message-info small {
	position: relative;
	top: 6px;
	display: block;
	padding: 1px;
	margin: 1px;
}
.mainFooter a {
	padding: 0;
	margin: 0;
	color: #B6B6B6;
	text-decoration: none;
}
.mainFooter a:hover {
	color: #0085B2;
	text-decoration: underline;
}
